@page "/folios/new"
@page "/folios/edit/{Id:int}"

@using OM.MFPTracker.Data.Models
@using OM.MFPTracker.Data.Services

@inject IFolioRepo Repo
@inject IAmcRepo AmcRepo
@inject IFolioHolder HolderRepo
@inject NavigationManager Nav

@code {

    [Parameter]
    public int? Id { get; set; }

    private string? nameError;
    //private Folio model = new();
    private List<Amc> amcs = new();
    private List<FolioHolder> holders = new();
    private string FolioNameCss =>
    nameError != null ? "form-control is-invalid" : "form-control";

    protected override async Task OnInitializedAsync()
    {
        amcs = await AmcRepo.GetAllAsync();
        holders = await HolderRepo.GetAllAsync();

        if (Id.HasValue)
        {
            var existing = await Repo.GetByIdAsync(Id.Value);
            if (existing != null)
                model = existing;
        }
    }
    private Folio model = new()
    {
        AmcId = null,
        FolioHolderId = null,
        FolioIsActive = true
    };
    private async Task Save()
    {
        nameError = null;

        if (string.IsNullOrWhiteSpace(model.FolioName))
        {
            nameError = "Folio Name is required.";
            return;
        }

        var exists = await Repo.ExistsByNameAsync(
            model.FolioName,
            model.FolioId == 0 ? null : model.FolioId);

        if (exists)
        {
            nameError = "Folio name already exists.";
            return;
        }

        if (model.FolioId == 0)
            await Repo.AddAsync(model);
        else
            await Repo.UpdateAsync(model);

        Nav.NavigateTo("/folios");
    }
}

<h3 class="mb-4">
    @(Id == null ? "Add Folio" : "Edit Folio")
</h3>

<EditForm Model="model" OnValidSubmit="Save">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="card shadow-sm p-4">

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">Folio Name</label>

@*                 <InputText class="form-control @(nameError != null ? "is-invalid" : "")"
                           @bind-Value="model.FolioName" /> *@
                <InputText class="@FolioNameCss"
                           @bind-Value="model.FolioName" />
                @if (nameError != null)
                {
                    <div class="invalid-feedback">
                        @nameError
                    </div>
                }
            </div>

            <div class="col-md-6">
                <label class="form-label">Purpose</label>
                <InputText class="form-control" @bind-Value="model.FolioPurpose" />
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label">Description</label>
            <InputText class="form-control" @bind-Value="model.FolioDescription" />
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label class="form-label">AMC</label>
                <InputSelect class="form-select" @bind-Value="model.AmcId">
                    <option value="">-- Select AMC --</option>
                    @foreach (var amc in amcs)
                    {
                        <option value="@amc.Id">@amc.Code</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => model.AmcId)" />
            </div>

            <div class="col-md-6">
                <label class="form-label">Holder</label>
                <InputSelect class="form-select" @bind-Value="model.FolioHolderId">
                    <option value="">-- Select Holder --</option>
                    @foreach (var h in holders)
                    {
                        <option value="@h.Id">@h.FirstName</option>
                    }
                </InputSelect>
                <ValidationMessage For="@(() => model.FolioHolderId)" />
            </div>
        </div>

        <div class="form-check mb-3">
            <InputCheckbox class="form-check-input"
                           @bind-Value="model.FolioIsActive" />
            <label class="form-check-label">
                Active
            </label>
        </div>

        <div class="mt-3">
            <button type="submit" class="btn btn-success me-2">
                Save
            </button>

            <button type="button"
                    class="btn btn-secondary"
                    @onclick="@(() => Nav.NavigateTo("/folios"))">
                Cancel
            </button>
        </div>

    </div>
</EditForm>

